@model float
@{
    ViewData["Title"] = "laravel";
}

<div class="text-center">
    <h1 class="display-4">Laravel Performance Tests</h1>
    <p>Execution Time: @Model</p>
    <a asp-action="DatabaseIOLaravel" class="btn btn-primary">DatabaseIO</a>
    <a asp-action="DiscIOLaravel" class="btn btn-primary">DiscIO</a>
    <a asp-action="GarbageCollectionLaravel" class="btn btn-primary">Garbage Collection</a>
    <a asp-action="ThreadPerformanceLaravel" class="btn btn-primary">Thread Performance</a>
    <a asp-action="Index" class="btn btn-primary">.NetCore</a>
    <a asp-action="Nodejs" class="btn btn-primary">Node.js</a>
</div>

